:root {
  --c-danger: #dc3545;
}

.spacing {
  padding: 15px 0;
}

.instructions h3 {
  text-align: center;
}

.instructions ol {
  width: 40%;
  margin: 0 auto;
}

.timer {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.action-buttons {
  text-align: center;
}

.action-buttons .btn + .btn {
  margin-left: 15px;
}

.trash-icon {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  float: right;
  background: var(--c-danger);
}

.trash-icon > svg {
  color: white;
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}

.trash-icon:hover {
  transform: scale(1.1);
}

.activeTask {
  background: red;
}

.completedTask {
  text-decoration: line-through;
  background: rgb(240, 240, 240);
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hidden {
  display: none;
}

body {
  counter-reset: table-row;
}
.tr-counter::before {
  counter-increment: table-row;
  content: counter(table-row);
}
